* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background: #6554AF;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    height: 40vh;
}

.title-container {
    height: 100%;
    width: 100%;
    background-image: url(../imgs/person-with-a-laptop-that-looks-very-happy.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
}

.title-container img {
    height: 20%;
    width: auto;
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 0;
}

.title-container h3 {
    font-style: italic;
    font-weight: 300;
    margin-top: -0.1%;
}

.title-container h1, h3 {
    margin: 2% 3%;
}

.title-container nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: auto;
    padding: 2% 0;
    background: #fff;
    text-transform: uppercase;
}

.title-container nav a {
    text-decoration: none;
}


