* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background: #6554AF;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

/* Header Section  */

header {
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    height: 40vh;
}

.title-container {
    height: 100%;
    width: 100%;
    background-image: url(../imgs/person-with-a-laptop-that-looks-very-happy.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
}

.title-container img {
    height: 20%;
    width: auto;
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 0;
}

.title-container h3 {
    font-style: italic;
    font-weight: 300;
    margin-top: -0.1%;
}

.title-container h1,
h3 {
    margin: 2% 3%;
}

.title-container h1 {
    font-size: 200%;
}

.title-container h3 {
    font-size: 150%;
}

.title-container nav {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    margin-top: auto;
    padding: 2% 0;
    background: #fff;
    text-transform: uppercase;
}

.title-container nav a {
    text-decoration: none;
}

/* Info Section  */
.static-info-container {
    display: flex;
    flex-direction: column;
    padding: 5%;
    line-height: 2rem;
}

.static-info-container h3, p{
    padding: 2% 0;
    margin: 0;
}

.legal-notice {
    font-size: 80%;
    font-style: italic;
}

.static-info-container img {
    width: 100%;
    margin-top: 5%;
    height: auto;
}

/* Event */

.event-container {
    border: 1px solid blue;
    display: flex;
}

.event-bajs-container {
    width: 100%;
    border: 1px solid green;
    display: flex;
    flex-direction: row;
}

.event-bajs-container img { 
    width: 400px;
    height: auto;
}



.event-container h3 {
    font-size: 300%;
}



@media screen and (min-width: 768px) {
    .title-container {
        background-position: 50%;
    }

    header {
        height: 60vh;
    }

    .title-container img {
        height: 40%;
    }

    .title-container h1 {
        font-size: 250%;
    }
    
    .title-container h3 {
        font-size: 200%;
    }

    .static-info-container {
        flex-direction: row;
    }

    .static-info-container img {
        margin-left: 5%;
        height: auto;
    }

    .static-info-container h3, p{
        padding: 2% 0;
        margin: 0;
    }
}